@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@700&display=swap');

:root {

    --color-primary: #FFBA00;
    --color-secondary: #003258;
    --color-orange: #FF3900;

}

* {
    font-family: 'Inter';
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

a {
    text-decoration: none !important;
}
/*
[data-animation] {
    opacity: 0;
    transition: all 400ms ease-in;
}

[data-delay-1] {
    transition-delay: 200ms;
}

[data-delay-2] {
    transition-delay: 400ms;
}

[data-delay-3] {
    transition-delay: 600ms;
}

[data-delay-4] {
    transition-delay: 800ms;
}

[data-delay-5] {
    transition-delay: 1000ms;
}

[data-animation="down"] {
    transform: translate3d(0, 20px, 0);
}

[data-animation="left"] {
    transform: translate3d(-20px, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(20px, 0, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}*/

#container_home {
    height: 844px;
    background: linear-gradient(122.76deg, rgba(39, 158, 249, 0.3) 29.78%, rgba(0, 0, 0, 0) 111.31%), #003258;
}

.container_home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.container_home_int {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    padding: 0px 20px;
    z-index: 1;
}

.area_home {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 25px;
}

.area_player {
    width: 100%;
    max-width: 700px;
    margin-bottom: 40px;
}

.thumb_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-position: center;
    cursor: pointer;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
}

.thumb_2 {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-position: center;
    cursor: pointer;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
}

.hidden_controls {
    display: flex;
    width: 100% !important;
    height: 14% !important;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    backdrop-filter: blur(10px) contrast(100%);
    -webkit-backdrop-filter: blur(10px) contrast(100%);
}

.up_container {
    position: relative;
    padding-bottom: 56.75%;
    max-height: 90vh;
}

.up_container .player-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #222;
}

.up_container .player-wrapper video,
.up_container .player-wrapper iframe,
.up_container .player-wrapper>div {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.up_container.glass {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-position: center;
}
.area_texts_home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 560px;
}

.title_home h2 {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 38px;
    line-height: 40px;
    color: var(--color-primary);
    margin: 0px 0px 20px 0px;
 
}

.sub_title_home p {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #F2F2F2;
    margin: 0px;
}

.acess_home {
    text-align: center;
}

.acess_home p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFD25A;

}

.area_btn_home {
    display: flex;
    justify-content: center;
}

.btn_home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFBA00;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    padding: 18px 30px 18px 30px;
    border-radius: 50px;
    width: 100%;
    max-width: max-content;
}

.btn_home h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-secondary);
    margin: 0px;
}

.area_payments {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bg_video {
    filter: drop-shadow(27px 18px 66px rgba(0, 0, 0, 0.8));
}

.area_payments {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.area_payments img {
    max-width: max-content;
    width: 100%;
    opacity: 0.6;
}

#bg_home {
    position: absolute;
    top: 120px;
    right: 0px;
    z-index: 0;
}

.box_1 {
    width: 100%;
    height: 200px;
    background: linear-gradient(177.94deg, rgba(0, 7, 12, 0.2) 1.74%, rgba(0, 0, 0, 0) 50%), #052944;
}

.box_2 {
    margin-top: -165px;
    width: 100%;
    height: 150px;
    background: linear-gradient(177.94deg, rgba(0, 0, 0, 0.4) 1.74%, rgba(0, 0, 0, 0) 50%), #052944;
}

.container_read {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_read_int {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.area_read {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(122.76deg, rgba(39, 158, 249, 0.3) 29.78%, rgba(0, 0, 0, 0) 111.31%), #003258;
    position: relative;
    margin-top: -80px;
}

.sleep {
    max-width: max-content;
    width: 100%;
    z-index: 1;
}

.bg_read {
    position: absolute;
    left: 0px;
    z-index: 0;
}

.area_texts_read {
    max-width: 660px;
    width: 100%;
}

.area_texts_read h2 {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    margin: 0px 0px 90px 0px;
}

.area_texts_read h2 b {
    font-weight: 600;
    color: var(--color-primary);
}

.container_worry {
    display: flex;
    justify-content: center;
    padding: 60px 0px 60px 0px;
    width: 100%;
    height: 100%;
}

.container_worry_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
}

.area_worry {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.title_worry {
    width: 100%;
    max-width: 1000px;
}

.title_worry h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #101C25;
    margin: 0px 0px 60px 0px;
}

.title_worry h2 b {
    display: inline-block;
    width: 420px;
    height: 62px;
    background: #FFBA00;
    border-radius: 2px;
    font-weight: 600;
    padding-left: 10px;
}

.bar_worry {
    position: relative;
    border: 5px solid var(--color-orange);
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
}

.ball_1 {
    position: absolute;
    left: 20%;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #003258;
}

.ball_2 {
    position: absolute;
    left: 50%;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #003258;
}

.ball_3 {
    position: absolute;
    left: 80%;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #003258;
}

.cards_worry {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-top: 40px;
}

.card_1,
.card_2,
.card_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 320px;
}

.title_spend h2,
.title_suffer h2,
.title_wrong h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-orange);
    text-transform: uppercase;
    margin: 40px 0px 10px 0px;
}

.sub_title_spend p,
.sub_title_suffer p,
.sub_title_wrong p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #101C25;
    margin: 0px;
}

#container_fast {
    position: relative;
    height: 100%;
    background: #003258;
}

.container_fast {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 120px 0px 120px 0px;
}

.container_fast_int {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.area_fast {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.title_fast h2 {
    font-weight: 500;
    font-size: 30px;
    text-transform: lowercase;
    color: var(--color-primary);
    margin: 0px 0px 20px 0px;
}
.sub_title_fast {
    max-width: 500px;
}
.sub_title_fast h2 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    color: var(--color-orange);
    margin: 0px 0px 40px 0px;
}

.area_info_fast {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
    max-width: 1300px;
}

.area_info_fast img {
    filter: drop-shadow(32px 28px 40px rgba(0, 0, 0, 0.3));
    max-width: max-content;
    width: 100%;
}

.infos_fast {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 300px;
}

.info_int_fast {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3900;
    box-shadow: -10px -10px 30px rgba(135, 130, 130, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
}

.info_int_fast h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0px;
}

.bg_fast_1 {
    position: absolute;
    top: 10%;
    z-index: 0;
}

.bg_fast_2 {
    position: absolute;
    bottom: -18%;
    z-index: 0;
}

.btn_fast {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFBA00;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    margin: 40px 0px 40px 0px;
}

.btn_fast h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-secondary);
    margin: 0px;
}

.text_info_fast {
    max-width: 900px;
    width: 100%;
}

.text_info_fast h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
    margin: 0px 0px 40px 0px;
}

.sub_text_info_fast {
    display: -webkit-inline-box;
    max-width: 1000px;
    width: 100%;
}

.sub_text_info_fast p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: lowercase;
    color: var(--color-primary);
    padding: 0px 20px 0px 20px;
}

.box_left {
    width: 25px;
    height: 132px;
    background: #FFBA00;
    border-radius: 2px;
}

.box_right {
    width: 25px;
    height: 132px;
    background: #FFBA00;
    border-radius: 2px;
}

.container_exclusive {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 160px 0px 140px 0px;
    position: relative;
    z-index: 1;
}

.container_exclusive_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.area_exclusive {
    display: flex;
    flex-direction: column;
    max-width: 1150px;
}

.title_exclusive h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #101C25;
    margin: 0px 0px 60px 0px;
}

.title_exclusive h2 b {
    display: inline-block;
    width: 283px;
    height: 62px;
    background: #FFBA00;
    border-radius: 2px;
    font-weight: 600;
    padding-left: 10px;
}

.area_cards_exclusive {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.card_exclusive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 430px;
    width: 100%;
    max-width: 360px;
    gap: 30px;
    background: #F9F9F9;
    box-shadow: 29px -3px 8px -28px rgba(0, 0, 0, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

.icon_exclusive {
    display: flex;
    gap: 10px;
}

.title_card_exclusive h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--color-secondary);
    margin: 0px;
}

.sub_title_card_exclusive p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--color-secondary);
    margin: 0px;
    padding: 0px 40px;
}

#bg_exclusive {
    position: absolute;
    left: 0px;
    bottom: 130px;
    z-index: -1;
}

#container_comments {
    position: relative;
    height: 100%;
    background-color: #042640;
    z-index: 1;
}

.container_comments {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 0px 80px 0px;
}

.container_comments_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.area_comments {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 1000px;
}


.title_comments h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-primary);
}

.commenst_group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.area_comments_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    max-width: 600px;
}

.comment_text h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}

.comment_name h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: var(--color-primary);
    margin: 0px;
}

.bg_comment_1 {
    position: absolute;
    top: -70px;
    z-index: -1;
}

.bg_comment_2 {
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

.container_warranty {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #F3F3F3;
    box-shadow: -13px 10px 40px rgba(0, 0, 0, 0.25);
    padding: 100px 0px 100px 0px;
    margin: 80px 0px 120px 0px;
}

.container_warranty_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.area_warranty {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1280px;
}

.area_texts_warranty {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 720px;
}

.title_warranty h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 44px;
    color: #FF3900;
    margin: 0px;
}

.sub_title_warranty h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #101C25;
    margin: 0px;
}

.btn_warranty {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFBA00;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    margin: 40px 0px 40px 0px;
    max-width: 430px;
}

.btn_warranty h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-secondary);
    margin: 0px;
}


.container_faq {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.container_faq_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.area_faq_total {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}

.area_faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title_faq h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 56px;
    color: #101C25;
    margin: 0px 0px 60px 0px;
}

.faq {
    background: #FF3900;
    box-shadow: inset 0px 15px 30px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    width: 100%;
    max-width: 1000px;
    cursor: pointer;
}

.fechar .circle_faq {
    transform: rotate(180deg);

}

.faq_int {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.quest_faq h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0px;
}

.circle_faq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background: #003258;
    transition: all ease 500ms;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.faq_text {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 0px;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    background: #FFDFD6;
    border-radius: 30px 30px 30px 30px;
    transition: all ease-in-out 500ms;
}

.ativar {
    max-height: 100%;
    margin-bottom: 20px;
}

.aswer_faq h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #042640;
    padding: 40px 20px;
    margin: 0px;
}

#bg_faq {
    position: absolute;
    right: 0px;
    top: -60px;
    z-index: -1;
}

footer {
    width: 100%;
    background: linear-gradient(242.81deg, #3077AD 5.09%, rgba(48, 119, 173, 0) 38.85%), #042640;
    padding: 80px 0px 80px 0px;
    margin-top: 100px;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 100%;
}

.area_footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1000px;
}

.text_footer h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0px;
}

.text_footer h2 b {
    color: var(--color-primary);
}

.copyright h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0px;
}

.privacy h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0px;
}